.main {
  display: flex;
  padding: 3rem;
  min-height: 100vh;
  align-items: center;
  background: #360568;
  flex-direction: column;
  justify-content: space-evenly;
}

.loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.loading-text {
  font-size: 2rem;
  color: #333333;
  font-weight: bold;
}

.title h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4rem;
}

.title form {
  text-align: center;
}

.title button {
  width: auto;
  padding: 0.125rem;
  text-align: center;
  margin-right: 0.5em;
}

.title input {
  max-width: 50rem;
  padding: 0.125rem;
  font-size: 1.25rem;
  text-align: center;
  margin-right: 0.5em;
}

.grid {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
}

.card {
  cursor: pointer;
  margin: 0 0.5rem;
  text-align: center;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  background: #7785AC;
  border: 0.0625rem solid #5B2A86;
  transition: background 200ms, border 200ms;
}

.card img {
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;
}

.card h3 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.7rem;
}

.card li {
  list-style: none;
}

.bio {
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: #5B2A86;
  border: 0.0625rem solid #7785AC;
  transition: background 200ms, border 200ms;
}

.bio img {
  width: 20rem;
  height: 20rem;
  display: block;
  margin: 0 auto 1rem;
  border-radius: 0.5rem;
}

.bio h3 {
  margin: 1rem 0;
  font-weight: 600;
  text-align: center;
}

.bio table {
  width: 100%;
  border-collapse: collapse;
}

.bio td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
  border: 0.0625rem solid #7785AC;
}

.bio td:first-child {
  width: 30%;
  font-weight: bold;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: #5B2A86;
    border: 0.0625rem solid #7785AC;
  }
}

/* Mobile */
@media (max-width: 43.75rem) {
  .title h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .title input {
    font-size: 1.2rem;
    margin-bottom: .5em;
  }

  .title input,
  .title button {
    width: 100%;
    margin: 0.5em 0;
  }

  .grid {
    max-width: 20rem;
    text-align: center;
    margin-bottom: 7.5rem;
    grid-template-columns: 1fr;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h3 {
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 700.0625rem) and (max-width: 70rem) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}